* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin: 10px;
    width: 400px;
    border: solid 1px #9758A6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.block {
    width: 100px;
    height: 100px;
    background: #CDD728;
    border: solid 5px #9758A6;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}